{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">My Profile</h2>

<form method="POST">

{% csrf_token %}

<div class="row">

<div class="col-md-6 mb-3">
<label>First name</label>
<input type="text" name="first_name"
       value="{{ request.user.first_name }}"
       class="form-control">
</div>

<div class="col-md-6 mb-3">
<label>Last name</label>
<input type="text" name="last_name"
       value="{{ request.user.last_name }}"
       class="form-control">
</div>

<div class="col-md-6 mb-3">
<label>Email</label>
<input type="email" name="email"
       value="{{ request.user.email }}"
       class="form-control">
</div>

<div class="col-md-3 mb-3">
<label>Age</label>
<input type="number" name="age"
       value="{{ request.user.profile.age }}"
       class="form-control">
</div>

<div class="col-md-6 mb-3">
<label>Occupation</label>
<input type="text" name="occupation"
       value="{{ request.user.profile.occupation }}"
       class="form-control">
</div>

</div>

<button class="btn btn-primary">
Save
</button>

</form>

{% endblock %}